<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ContainerResourceId>/subscriptions/3cb79368-db36-4d0b-80aa-da552b36318b/resourceGroups/bupa-oracle/providers/Microsoft.ContainerRegistry/registries/corewebapicontainer</ContainerResourceId>
    <ContainerResourceName>corewebapicontainer</ContainerResourceName>
    <Subscription>Visual Studio Enterprise Subscription – MPN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>corewebapicontainer.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <SCMUrl>https://corewebapioracle20210922100335.scm.azurewebsites.net/</SCMUrl>
    <ApiResourceId>/subscriptions/3cb79368-db36-4d0b-80aa-da552b36318b/resourceGroups/bupa-oracle/providers/Microsoft.ApiManagement/service/corewebapioracleapi/apis/corewebapioracle</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/3cb79368-db36-4d0b-80aa-da552b36318b/resourcegroups/bupa-oracle/providers/Microsoft.Web/sites/corewebapioracle20210922100335</ResourceId>
    <ResourceGroup>bupa-oracle</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://corewebapioracle20210922100335.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AppServiceContainer</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>28259495-7817-422e-9ccc-a27e9466a0c8</ProjectGuid>
  </PropertyGroup>
</Project>